.nav-menu {
    margin: 0;
    padding: 0;
    
    li {
        display: inline;
        list-style: none;
        padding-right: 20px;
    }

    .nav-link {
        padding: 3px 6px 3px 6px;
        background-color: rgb(224, 224, 224);
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.3em;
        cursor: pointer;
        color: rgb(43, 43, 43);
        box-shadow: 0 1px 2px rgba(0,0,0,0.5);

        &:hover {
            opacity: 0.7;
        }

        &.selected {
            background-color: white;
            color: black;
            border-bottom: 2px solid brown;
        }
    }
}

.link-etherscan {
    color: white;
    margin-left: 5px;
    text-decoration: none;
    
    &:hover {
        color: rgb(216, 216, 216);
    }
}
