.online-indicator {
    display: inline-block;
    margin: -5px 12px 0 0;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);

    &.error {
        background-color: red;
    }

    &.connecting {
        background-color: yellow;
    }

    &.connected {
        background-color: green;
    }
}